body {
background: url(/../images/crossword.png);
}
#header {
text-align: center;
padding-top:30px;
}

#main {
text-align: center;
}

.centerFloats {
/*float:left;
width:50%;
*/}

.inputForm {
padding: 12px;
font-size: 18px;
width: 30%;
text-align: center;
}
.button {
display:inline-block;
background: rgb(211, 211, 211);
padding:12px;
box-shadow: 0 0 1px 0 black;
}
.button:hover {
color:white;
box-shadow: none;
cursor: pointer;
}
.buttonHolder {
text-align: center;
padding:30px;
}

.container {
background: rgba(211, 211, 211, .3);
}